<p id="notice"><%= notice %></p>


<p>
  <strong>Tags:</strong>
  <% for i in @promotion.tags do %>
  <%=	i.name %>
 <% end %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
